{{ .Scratch.Set "class" "column has-background-white-ter" }}
{{/* The stuff under is working perfectly */}}
{{- with .Parent -}}

   {{ with .Get "_class"}} 
      {{ $.Scratch.Add "class" " " }}
      {{ $.Scratch.Add "class" . }}
   {{ end }}

   {{ with .Get "colsizes"}} 
      {{ $.Scratch.Set "colsizes" (split . " ") }}
   {{ else }}
      {{/* Setting default value */}}
      {{ $.Scratch.Add "class" " is-6" }}
   {{ end }}

{{- end }}


{{ .Page.Scratch.Add "count" 1 }}
{{ $i := .Page.Scratch.Get "count" }}
  <div class="{{ .Scratch.Get "class" }}">
        Running Count: {{ (printf "%d" $i ) }}




{{range $index, $element := .Scratch.Get "colsizes" }}
  {{/*index:{{ $index }} 
        name:{{ $element }} 
       */}}
        {{ if eq ( sub $i 1 ) $index }}
           her skal det vere: {{ $element }}
        {{ end }}
    {{ end }}




    {{ .Inner }}
  </div>