{{/* 

This shortcode is dependent of the columns.html shortcode and can not live outside of columns.html

 */}}




{{ .Scratch.Set "class" "column has-background-white-ter" }}
{{/* The stuff under is working perfectly */}}
{{- with .Parent -}}

   {{ with .Get "_class"}} 
      {{ $.Scratch.Add "class" " " }}
      {{ $.Scratch.Add "class" . }}
   {{ end }}

   {{ with .Get "colsizes"}} 
      {{ $.Scratch.Set "colsizes" (split . " ") }}
   {{ else }}
      {{/* Setting default value */}}
      {{ $.Scratch.Add "class" " is-6" }}
   {{ end }}

{{ else }}

    {{ errorf "The error is inside the page %s\nThis shortcode {{ column }} must be inside {{< columns >}} shortcode and can not live outside of {{< columns >}}\n" .Page.Path }}
  
{{ end }}

{{ $sum12 := 0 }}
{{ range $.Scratch.Get "colsizes" }}

{{ $sum12 = add $sum12 (int .) }}
kolonne sum {{ $sum12 }}
{{ end }}




{{ .Page.Scratch.Add "count" 1 }}
{{ $i := sub (.Page.Scratch.Get "count") 1 }}
{{/* {{ $i := mod $i (len (.Page.Scratch.Get "colsizes")) }} */}}



  <div class="{{ .Scratch.Get "class" }}">


{{ with .Scratch.Get "colsizes" }}
{{ $colCount :=  len . }}
{{ $i = mod $i $colCount }}
{{ $element := ( index . $i ) }}
  {{ $element }}
{{ end }}

        Running Count: {{ (printf "%d" $i ) }}



    {{ .Inner }}
  </div>